@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');

:root {
    --cor1: #8DC4AA;
    --cor2: #4C9170;
    --cor3: #DAF7E9;
    --cor4: #1E5E3F;
    --cor5: #06331D;
    --black: #000000;
    --white: #ffffff;
    --font: "Roboto", sans-serif;
    --fontTitle: "Goldman", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
}

header {
    background-color: var(--cor5);
    width: 100vw;
    height: 100px;
    display: inline-flex;
    flex: 0 1 auto;
    flex-wrap: wrap;
    align-items: center;
    transition: 0.3s ease;
}

.light_head {
    background-color: var(--cor1);
}
    .Logo_D{
        margin-left: 20px;
        max-height: 50px;
        max-width: 50px;
        min-width: 15px;
        min-height: 15px;
    }

    h1 {
        color: var(--cor3);
        font: italic normal 2.5em var(--fontTitle);
        margin: 0 20px 0 20px;
        transition: color 0.3s ease;
    }

    .dark_mode {
        color: var(--cor5);
    }

    .modo {
        display: flex;
        gap: 3px;
        height: 30px;
        margin: 0 20px 0 auto;
        align-items: center;
    }


        #mode {
            display: none;
        }

        .switch {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            position: relative;
            width: 35px;
            height: 15px;
            background-color: var(--cor3);
            border-radius: 20px;
            cursor: pointer;
            transition-duration: 0.2s;
        }

            .switch::after {
                content: "";
                position: absolute;
                height: 13px;
                width: 13px;
                left: 2px;
                border-radius: 50%;
                background-color: var(--cor5);
                transition-duration: 0.2s;
                box-shadow: 5px 2px 7px rgba(0, 0, 0, 0.26);
            }

        #mode:checked + .switch::after {
            transform: translateX(138%);
            transition-duration: 0.2s;
            background-color: var(--cor1);
        }

        #mode:checked + .switch {
            background-color: var(--cor5);
            transition-duration: 0.2s;
        }

    @media (max-width: 422px) {
        .Logo_D {
            width: 30px;
            height: 30px;
        }
        h1 {
            font-size: 1.5em;
        }
    }