@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');

:root {
    --cor1: #8DC4AA;
    --cor2: #4C9170;
    --cor3: #DAF7E9;
    --cor4: #1E5E3F;
    --cor5: #06331D;
    --black: #000000;
    --white: #ffffff;
    --font: "Roboto", sans-serif;
    --fontTitle: "Goldman", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
}

.principal {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor1));
    height: 100vh;
    transition: background-image 0.3s ease;
}

.dark_body {
    background-image: linear-gradient(to bottom, var(--cor4), var(--cor5));
}

section {
    width: 350px;
}

h2{
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.20);
}

.buttons {
    display: grid;
    height: 400px;
    width: 400px;
    align-items: center;
    justify-content: center;
    margin: 80px auto 0 auto;
}

aside {
    display: flex;
    height: 100px;
    justify-content: center;
    margin: 90px auto 15px auto;
    align-items: center;
}

.back {
    display: flex;
    gap: 20px;
    width: 150px;
    height: 60px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--cor5);
    font-weight: bold;
    padding: 15px;
    border: 5px solid var(--cor4);
    border-radius: 15px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.30);
    transition: all 0.3s ease;
}

    .back:hover {
        transform: scale(1.02);
    }

    .back:active {
        background-color: rgba(0, 0, 0, 0.25);
        transform: scale(0.95);
    }

    .dark_back {
        border: 5px solid var(--cor1);
        color: var(--cor3);
    }

section {
    display: flex;
    justify-content: center;
}

.links {
    display: inline-flex;
    text-decoration: none;
    color: var(--cor5);
    width: 300px;
    align-items: center;
    gap: 30px;
    padding: 15px;
    border: 5px solid var(--cor4);
    border-radius: 20px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.30);
    transition: all 0.3s ease;
}

    .links:hover {
        transform: scale(1.02);
    }

    .links:active {
        background-color: rgba(0, 0, 0, 0.25);
        transform: scale(0.95);
    }

.link_dark {
    border: 5px solid var(--cor1);
    color: var(--cor3);
}

@media(max-width: 405px) {
    .buttons {
        width: 335px;
        height: 300px;
    }

    section {
        width: 220px;
    }

    h2 {
        font-size: 0.9em;
    }

    .container {
        width: 250px;
        height: 250px;
        margin: 50px auto;
    }

    .links {
        width: 200px;
        padding: 10px;
        gap: 30px;
    }

    .reg {
        width: 45px;
        height: 45px;
    }

    .cons {
        height: 45px;
    }

    .relat{
        height: 45px;
    }
}

@media (max-width: 480px) {
    aside {
        margin: 0 auto 0 auto;
    }
}

@media (max-height: 800px) {
    aside {
        margin: auto;
    }
}
