<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultas</title>
    <link rel="shortcut icon" href="../img/financa-light.png" type="image/png" media="(prefers-color-scheme: dark)">
    <link rel="shortcut icon" href="../img/financa-dark.png" type="image/png" media="(prefers-color-scheme: light)">
    <link rel="stylesheet" href="../css/cabeca.css" type="text/css">
    <link rel="stylesheet" href="../css/main.css" type="text/css">
    <link rel="stylesheet" href="../css/footer.css" type="text/css">
</head>
<body>
    <main class="principal">
    <header>
        <a href="home.html"><img class="Logo_D" src="../img/letra-d.png" alt="Logo DataSales" width="40px"></a>
        <h1>DataSales</h1>
        <div class="modo">
            <img class="sol" src="../img/sun.png" alt="sol" width="18px" height="18px">
            <input type="checkbox" name="mode" id="mode">
            <label for="mode" class="switch"></label>
            <img class="lua" src="../img/lua-crescente.png" alt="lua" width="18px" height="18px">
        </div>
    </header>
    <main class="buttons">
        <section>
            <a href="consult-product.html" class="links"><img class="prod" src="../img/produtos.png" alt="consultar produtos" height="70px"><h2>CONSULTAR PRODUTOS</h2></a>
        </section>
        <section>
            <a href="consult-venda.html" class="links"><img class="sell" src="../img/venda.png" alt="consultar vendas" height="70px"><h2>CONSULTAR VENDAS</h2></a>
        </section>
    </main>
        <aside>
            <a class="back" href="home.html">Voltar</a>
        </aside>
    <footer>
        <p>&copy DataSales - Desenvolvido por <a class="github" href="https://github.com/felipepassos068" target="_blank">Felipe Passos</a> e <a class="github" href="https://github.com/Rhayron-w" target="_blank">Wdson Rhayron</a></p>
    </footer>
    </main>
    <script src="../js/scipts.js"></script>
</body>
</html>