{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DataSales</title>
    <link rel="shortcut icon" href="{% static 'img/financa-light.png' %}" type="image/png" media="(prefers-color-scheme: dark)">
    <link rel="shortcut icon" href="{% static 'img/financa-dark.png' %}" type="image/png" media="(prefers-color-scheme: light)">
    <link rel="stylesheet" href="{% static 'css/cabeca.css' %}" type="text/css">
</head>
<body>
    <main class="principal">
    <header>
        <img class="Logo_D" src="{% static 'img/letra-d.png' %}" alt="Logo DataSales">
        <h1>DataSales</h1>
    </header>
    <main>
        <section></section>
        <section></section>
        <section></section>
    </main>
    <footer></footer>
    </main>
</body>
</html>