<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatórios</title>
    <link rel="shortcut icon" href="../img/financa-light.png" type="image/png" media="(prefers-color-scheme: dark)">
    <link rel="shortcut icon" href="../img/financa-dark.png" type="image/png" media="(prefers-color-scheme: light)">
    <link rel="stylesheet" href="../css/cabeca.css" type="text/css">
    <link rel="stylesheet" href="../css/main.css" type="text/css">
    <link rel="stylesheet" href="../css/footer.css" type="text/css">
</head>
<body>
    
</body>
</html>